header {
  background-color: #60BA7C;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
position: sticky-top;
  left: 0;
  top: 0;
  width: 100%;
}
.nav-links a{
  margin: 10px
}