header {
  background-color: #60ba7c;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
}
.nav-links a {
  margin: 5px;
}
@media only screen and (max-width: 768px) {
  header {
    background-color: slategray;
  }
}
@media only screen and (max-width: 375px) {
  header {
    background-color: teal;
  }
}
